/* Primary Sections */
.sidenav {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: rgb(41, 41, 107);
 }
 .content-layout {
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100vh;
    background-color: silver;
    display: flex;
    flex-direction: column;
 }
 /* Content Sections */
 .header {
    background-color: lightblue;
    text-align: center;
    padding: 1rem;
 }
 .content-grid {
    flex: 1;
 }
 .footer {
    background-color: lightpink;
    padding: 1rem;
 }