@import "./css/boiler.css";
@import "./css/nav.css";
@import "./css/header.css";
@import "./css/footer.css";

.app-container {
   width: 100%;
   height: 100vh;
   background-color: silver;
}

/* Primary Sections */
.sidenav {
   position: absolute;
   left: 0;
   width: 20%;
   height: 100%;
   background-color: lightgray;
}
.content-layout {
   position: absolute;
   left: 20%;
   width: 80%;
   height: 100vh;
   background-color: silver;
   display: flex;
   flex-direction: column;
}
/* Content Sections */
.header {
   background-color: lightblue;
   text-align: center;
   padding: 1rem;
}
.content-grid {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: auto;
   background-color: lightcoral;
   flex: 1;
   padding: 1rem;
}
.footer {
   background-color: lightpink;
   padding: 1rem;
}





/* Disabled Until Further Notice */
.g1rid-wrapper {
   display: grid;
   grid-gap: 0;
   grid-template-columns: 20% 80%;
   grid-auto-rows: auto;
}
/* Main Sections */
.h1eader {  /* anchored to top, span firt row, full column span */
   background-color: lightblue;
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   min-height: 100px;
}
.s1idenav {   /* anchored to left side first column, full span page */
   background-color: lightgray;
   grid-column: 1 / 2;
   grid-row: 2 / -1;

}
.m1ain-content {  /* takes up all remaining space */
   background-color: lightgreen;
   grid-column: 2 / -1;
   grid-row: 2 / -2;
}
.f1ooter {  /* anchored to bottom row, span all columns */
   background-color: lightpink;
   grid-column: 1 / -1;
   grid-row: 3 / 4;
}