@import "./css/components/sidenav.css";
@import "./css/components/header.css";
@import "./css/components/footer.css";
@import "./css/colors.css";
@import "./css/layout.css";
@import "./css/global-styles.css";
@import "./css/reset.css";

.app-container {
   width: 100%;
   height: 100vh;
   background-color: silver;
}