<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="dashboard try" description="trying to get this dashboard man!"/>
        <title>dashtry - calendar</title>
        <link rel="stylesheet" type="text/css" href="../base.css" />
    </head>
    <body>
        <div class="app-container">
            <section class="sidenav">
                <header class="sidenav-header">
                    <a href="#edit-profile-pic">
                        <img class="profile-img" src="https://placekitten.com/100/100" alt="profile pic" />
                    </a>
                    <h2 class="h-acct-name">Account Name</h2>
                    <h4 class="h-acct-type">Account Type</h4>
                </header>
                <nav class="sidenav-nav">
                    <ul class="sidenav-list">
                        <li><a href="../index.html">Dashboard</a></li>
                        <li><a href="./inbox.html">Inbox</a></li>
                        <li><a href="./calendar.html" class="active">Calendar</a></li>
                        <li><a href="./settings.html">Settings</a></li>
                    </ul>
                </nav>
                <section class="sidenav-bot-options">
                    <div class="options-container">
                        <a href="#" class="btn">Log Out</a>
                        <a href="#" class="btn">Support</a>
                    </div>
                </section>
            </section>
            <div class="content-layout">
                <header class="header">
                    <!-- Needs work, but going to leave "as is" for now -->
                    <h1>Calendar</h1>
                    <div class="header-options-r">
                        <!-- Insert Icons and Badges here -->
                        <!-- Position absolutely, (or relative?)-->
                    </div>
                </header>
                <main class="content-grid">
                    <!-- Calendar View here -->
                    <h1>Calendar</h1>
                </main>
                <footer class="footer">
                    <p>Made by Nico, 2019</p>
                    <a href="github.com/nstranquist">GitHub</a>
                </footer>
            </div>
        </div>
    </body>
</html>