<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="dashboard try" description="trying to get this dashboard man!"/>
        <title>dashtry - inbox</title>
        <link rel="stylesheet" type="text/css" href="../base.css" />
        <link rel="stylesheet" type="text/css" href="../css/pages/inbox-base.css" />
        <link rel="stylesheet" type="text/css" href="../css/pages/inbox-grid.css" />
    </head>
    <body>
        <div class="app-container">
            <section class="sidenav">
                <header class="sidenav-header">
                    <a href="#edit-profile-pic">
                        <img class="profile-img" src="https://placekitten.com/100/100" alt="profile pic" />
                    </a>
                    <h2 class="h-acct-name">Account Name</h2>
                    <h4 class="h-acct-type">Account Type</h4>
                </header>
                <nav class="sidenav-nav">
                    <ul class="sidenav-list">
                        <li><a href="../index.html">Dashboard</a></li>
                        <li><a href="./inbox.html" class="active">Inbox</a></li>
                        <li><a href="./calendar.html">Calendar</a></li>
                        <li><a href="./settings.html">Settings</a></li>
                    </ul>
                </nav>
                <section class="sidenav-bot-options">
                    <div class="options-container">
                        <a href="#" class="btn">Log Out</a>
                        <a href="#" class="btn">Support</a>
                    </div>
                </section>
            </section>
            <div class="content-layout">
                <header class="header">
                    <!-- Needs work, but going to leave "as is" for now -->
                    <h1>Inbox</h1>
                    <div class="header-options-r">
                        <!-- Insert Icons and Badges here -->
                        <!-- Position absolutely, (or relative?)-->
                    </div>
                </header>
                <main class="content-grid">
                    <!-- Inbox view here -->
                    <div class="inbox-container">
                        <div class="inbox-contacts">
                            <div class="inbox-message"> <!-- Can make this into <ul> later -->
                                <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                <div class="inbox-message-content">
                                    <div class="inbox-sender">
                                        Nico
                                    </div>
                                    <div class="inbox-message-txt">
                                        Hello, this is a message. More text here. Sweet!
                                    </div>
                                </div>
                                <div class="inbox-timestamp">
                                    11:22AM
                                </div>
                            </div>
                            <div class="inbox-message inbox-message-active">
                                <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                <div class="inbox-message-content">
                                    <div class="inbox-sender">
                                        Dad
                                    </div>
                                    <div class="inbox-message-txt">
                                        Hey Nico, I'm doing well. How are you?
                                    </div>
                                </div>
                                <div class="inbox-timestamp">
                                    12:13PM
                                </div>
                            </div>
                            <div class="inbox-message">
                                <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                <div class="inbox-message-content">
                                    <div class="inbox-sender">
                                        Eric
                                    </div>
                                    <div class="inbox-message-txt">
                                        BRO check out this new game it's called Minecraft
                                    </div>
                                </div>
                                <div class="inbox-timestamp">
                                    11:22AM
                                </div>
                            </div>
                            <div class="inbox-message">
                                <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                <div class="inbox-message-content">
                                    <div class="inbox-sender">
                                        Mr. Venue Owner
                                    </div>
                                    <div class="inbox-message-txt">
                                        Thank you, sir. Let's plan on that date then. Looking forward to this eSports event
                                    </div>
                                </div>
                                <div class="inbox-timestamp">
                                    10:11AM
                                </div>
                            </div>
                            <div class="inbox-message">
                                <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                <div class="inbox-message-content">
                                    <div class="inbox-sender">
                                        Ms. Venue Owner
                                    </div>
                                    <div class="inbox-message-txt">
                                        I think that can work for me. You said you will be providing equipment? Thanks,
                                    </div>
                                </div>
                                <div class="inbox-timestamp">
                                    09:36AM
                                </div>
                            </div>
                        </div>
            
                        <div class="inbox-chats">
                            <div class="inbox-chat-header">
                                <span>Dad</span>
                            </div>
                            <div class="inbox-chat-content">
                                <div class="inbox-message"> <!-- Can make this into <ul> later -->
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Nico
                                        </div>
                                        <div class="inbox-message-txt">
                                            Hello Dad, how are you doing?
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        11:22AM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Dad
                                        </div>
                                        <div class="inbox-message-txt">
                                            Hey Nico, I'm doing well! How are you?
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        12:13PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Nico
                                        </div>
                                        <div class="inbox-message-txt">
                                            Oh, that's great to hear. I just finished some coding and had a little free time.
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        12:22PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Dad
                                        </div>
                                        <div class="inbox-message-txt">
                                            That sounds just like you. When are you going to visit us?
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        01:08PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Nico
                                        </div>
                                        <div class="inbox-message-txt">
                                            I think I'll have time over the summer after classes end.
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        01:12PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Dad
                                        </div>
                                        <div class="inbox-message-txt">
                                            Well, that is good news. We look forward to seeing you.
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        01:14PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Nico
                                        </div>
                                        <div class="inbox-message-txt">
                                            I am excited to be back with the family as well. It will be *fun*
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        01:18PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Dad
                                        </div>
                                        <div class="inbox-message-txt">
                                            Nice! Wait, what is that (*fun*) supposed to mean??
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        01:25PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Nico
                                        </div>
                                        <div class="inbox-message-txt">
                                            Just standard convention, ya know?
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        01:43PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Dad
                                        </div>
                                        <div class="inbox-message-txt">
                                            Guess I'll just have to take your word for it. Lol
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        01:53PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Nico
                                        </div>
                                        <div class="inbox-message-txt">
                                            Okay fine, you got me. It was a little hint of sarcasm. But I actually do look forward to visiting you guys.
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        02:21PM
                                    </div>
                                </div>
                                <div class="inbox-message">
                                    <img class="inbox-avatar" src="http://placekitten.com/150/150" alt="kitten" />
                                    <div class="inbox-message-content">
                                        <div class="inbox-sender">
                                            Dad
                                        </div>
                                        <div class="inbox-message-txt">
                                            Hahaha alright, I was just giving you a hard time anyways. See you then!
                                        </div>
                                    </div>
                                    <div class="inbox-timestamp">
                                        02:45PM
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer">
                    <p>Made by Nico, 2019</p>
                    <a href="github.com/nstranquist">GitHub</a>
                </footer>
            </div>
        </div>
    </body>
</html>